<h1>Your requested a password reset.</h1>

<p>
  If you don't recall doing this, just ignore this email.
</p>

<p>
  If you <em>did</em>, click or copy and paste the following link to reset your password:
</p>

<%= link_to reset_password_url(id: @user.password_token, host: "http://localhost:3000"), reset_password_url(id: @user.password_token, host: "http://localhost:3000") %>
<!-- http://localhost:3000/forgot_password/rgerg -->
